<div id="add" v-cloak  >
  <ol class="d-flex list-unstyled">
    <li class="breadcrumb-item"><a href="/articles/list">Articles </a></li>
    <li class="breadcrumb-item active">Add</li>
  </ol>
  <h1 class="display-4">Add Article</h1>
  <!-- <form method="post" action="/articles/create" > -->
  <ajax-form action="addArticle" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="dataArticleSubmit($event)" :form-data="dataArticle" :form-rules="formRules" :form-errors.sync="formErrors" >
    <div class="from-group">
      <label for="title">Titre : {{dataArticle.title}}</label>
      <input type="text"  v-model.trim="dataArticle.title" class="form-control" />
    </div>
    <div class="from-group">
      <label for="body">Desc : {{dataArticle.desc}}</label>
      <textarea type="text"   v-model.trim="dataArticle.desc" class="form-control"></textarea>
    </div>
    <ajax-button type="submit" :syncing="syncing" class="btn btn-primary" >POST</ajax-button>
  </ajax-form>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
